.stats {
    width: 10em;
}

.stat-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 1em;
}

.stat-name {
    font-size: 1em;
}

.stat-value {
    font-size: 2em;
}

.stat-modifier {
    font-size: .8em;
}

.text-block {
    border: 1px solid black;
}
