ul.skill-list {
    padding: 0;
}

.skill-display {
    display: flex;
    text-align: left;
}

.skill-proficiency {
    flex: 1;
}

.skill-modifier {
    flex: 2;
    text-align: right;
    padding-right: .75em;
}

.skill-name {
    flex: 8;
}

.related-ability {
    flex: 3;
    color: var(--black);
}


// Button

button {
    background-color: var(--secondary-color);
    border: none;
    padding: var(--medium-spacing) var(--large-spacing);
    margin: var(--small-spacing);
    clip-path: polygon(100% 0, 30% 0, 0 100%, 70% 100%);
}

button.btn-danger {
    background-color: var(--error-color);
}

// Text Field
.text-field {
    display: block;
    text-align: left;
    margin: var(--medium-spacing);
}

.text-field label {
    display: block;
}